@import "sub/sub.scss";

body {
	font-size: 20px;
	color: green;
}
a {
	display: inline-block;
	min-width: 2em;
	transform-origin: left bottom;
	transition: transform 0.3s;

	&:hover {
		transform: skew(-15deg, 0);
		transition: transform 0.1s;
	}
}
i {
	display: inline-block;
	vertical-align: middle;
}
